<a href="https://colab.research.google.com/github/linsoomin/HYU-ERICA-SCF-2022-2/blob/alsh02/design_student_council.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
total_data = pd.read_excel("/content/drive/MyDrive/감사_파일/디대학생회/2022_2학기_중앙감사_디자인대학(단과대학).xlsx")
total_data

In [ ]:
def to_month(month_num):
    month = ''
    if 1<= month_num < 2:
        month = '1월'
    elif 2<= month_num < 3:
        month = '2월'
    elif 3<= month_num < 4:
        month = '3월'
    elif 4<= month_num < 5:
        month = '4월'
    elif 5<= month_num < 6:
        month = '5월'
    elif 6<= month_num < 7:
        month = '6월'
    elif 7<= month_num < 8:
        month = '7월'
    elif 8<= month_num < 9:
        month = '8월'
    elif 9<= month_num < 10:
        month = '9월'
    elif 10<= month_num < 11:
        month = '10월'
    elif 11<= month_num < 12:
        month = '11월'
    else:
        month = '12월'
        
    return month

In [ ]:
total_data["날짜"] = pd.to_datetime(total_data["날짜"], format='%Y-%m-%d')
total_data["날짜"] = pd.Categorical(
    total_data['날짜'].dt.month.apply(to_month), 
    categories = ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월']
)

In [ ]:
total_data

## 결측치 확인
각 column에 결측치가 어떻게 존재하는지 확인합니다.

In [ ]:
total_data.isna().sum()

In [ ]:
total_data["수입"] = total_data["수입"].fillna(0)
total_data["지출"] = total_data["지출"].fillna(0)
total_data["사업"] = total_data["사업"].fillna("-")
total_data["세부항목"] = total_data["세부항목"].fillna("-")

In [ ]:
total_data

## 수입 데이터 추출
전체 데이터에서 수입 데이터만 추출합니다.

In [ ]:
income_data = total_data.loc[total_data['수입'] > 0].drop(['지출'], axis=1)
income_data

## 지출 데이터 추출
전체 데이터에서 지출 데이터만 추출합니다.

In [ ]:
cost_data = total_data.loc[total_data["지출"] > 0].drop(['수입'], axis=1)
cost_data

In [ ]:
income_by_month = income_data.groupby("날짜")["수입"].sum()
income_by_month

In [ ]:
cost_by_month = cost_data.groupby("날짜")['지출'].sum() 
cost_by_month

## 시각화
월별 수입, 지출 데이터를 도표로 시각화합니다.

In [ ]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

In [ ]:
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker

plt.rc('font', family='NanumBarunGothic')

In [ ]:
month = ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월']

plt.figure(figsize=(10, 5), dpi=100)
plt.xlabel("월")
plt.ylabel("금액")
plt.title("디자인대학 학생회 월별 수입 / 지출 총액")

plt.gca().yaxis.set_major_formatter(\
ticker.FuncFormatter(lambda y, pos: 
'{:,.0f}'.format(y/10000) + '만원'))

plt.axhline(y=0)
plt.bar(month, income_by_month, width=0.3, color="dodgerblue")
plt.bar(month, -cost_by_month, width=0.3, color="red")

for i in range(len(month)):
    height1 = income_by_month[i]
    if height1 != 0:
      plt.text(month[i], height1 * 1.005, '{:,.1f}'.format(height1/10000) + '만원', ha='center', va='bottom', size=8)

    height2 = cost_by_month[i]
    if height2 != 0:
      plt.text(month[i], height2 * -1.005, '{:,.1f}'.format(height2/10000) + '만원', ha='center', va='top', size=8)